<div class='about-wrapper'>
  <div class='about-text'>
    <div class='greeting'>Oh Hello, you.</div>

    <p>In the heyday of ancient Athenian culture and power (roughly 500 B.C.E. to the mid-300s B.C.E.), the agora was the center of all aspects public life. It was the center of economic life and served as a bustling marketplace.</p>

    <p>In our modern world, we thought it might be nice to have an online bustling marketplace for your local community where you can share your backyard produce, homemade meals made with family recipes (if, like me, you don't know how to make small batches) and family-like events to get together.</p>

    <p>A socially cohesive society is one which works towards the wellbeing of all its members, fights exclusion and marginalisation, creates a sense of belonging, promotes trust and fights for sustainability.</p>

    <p>Our thinking was that we could work towards making bonds within our local community, encourage greener practices through gardening in small space, reduce food waste and share our cultures through food. </p>

    <p>We'd love for you to join us.</p>

    <h2>A couple of guidelines</h2>
      <ul>
        <li>We share in good faith - you can contact the seller via e-mail once a purchase is made but keep in mind that fresh produce is perishable so get on it ASAP.</li>
        <li>Our current system for collection is: Pick-up, Delivery or Both(either) within the local suburb. If you are outside that suburb but just really want that blackberry jam, offer to pick-up, yeah?</li>
        <li>You might have an item in your wishlist or cart but it's first in best-dressed and as produce is homemade and in limited quantities, best to buy it if you want it.</li>
      </ul>
  </div>
</div>