<div class='welcome-wrapper'>

<div class='welcome-msg'>This is your neighbourhood </div>
<div class='main-logo-big'>Agora.</div>

<h4>
  <%= link_to 'See what your community has produced', products_path%>
</h4>


</div>