 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */ 


body {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  background-color: #e9ecf1;
  
}

nav li {
  font-weight: 400;
  /* font-size: 16px; */
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #e9ecf1;
}

.user-nav {
  display: flex;
  align-items: center;
  padding-left: 3%;

}

.user-nav img {
  height: 60px;
  width: 50px;
  border-radius: 50%;
}

.main-logo {
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Fredericka the Great', cursive;
}

.user-links {
  display: flex;
  align-items: center; 
}


.navlinks li {
  display: inline-block;
  padding: 0px 20px;
}

a:link {
  text-decoration: none;
  color: darkgreen;
}

a:visited {
  text-decoration: none;
  color: darkgreen;
}

a:hover {
  text-decoration: underline;
}

.welcome-wrapper {
  background-image: url(/assets/apricot.jpg);
  background-size: cover;
  height: 100vh;
  margin-left: 1%;
  background-color: darkblue;
}

.welcome-msg {
  font-size: 45px;
}

.main-logo-big {
  font-size: 150px;
  margin-left: 4%;
  /* font-family: 'Abril Fatface', cursive; */
  font-family: 'Fredericka the Great', cursive;
}

.devise-form {
  margin-left: 5%;
  margin-right: 50%;
}

.notice {
  margin-left: 10%;
  background-color: darkgreen;
  color: white;
}