// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  font-family: 'Nanum Gothic' ;
}
.products-group {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 8%;
  border: 2px solid black;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  background-color: honeydew;
  height: 250px;
}

.name {
  border: 2px solid black;
}


.basic-prod-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-left: solid 5px black;
  margin-left: 10%;
}


