// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  font-family: 'Nanum Gothic' ;
}
.products-group {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 5%;
  border: 2px solid black;
  background-image: url(/assets/basil-chop.jpg);
  background-size: cover;
}


.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  background-color: ghostwhite;
  height: 250px;
}

.name {
  border-bottom: 2px solid black;
}


.basic-prod-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid 2px black;
  margin-left: 10%;
  margin-right: 10%;
}

// add/edit product form 
.field {
  margin-left: 2%;
  padding: 2%;
}

.actions {
  padding: 2%;
}

.product-photo img {
  width: 100px;
  height: 100px;
}