// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.profile-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 2% 0 2%;
  background-color: oldlace;
  background-image: url(/assets/bluehand.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #30424b;
  a:visited, a:link {
    color: #dfbc8f;
  }
}

.hi-msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color:  #d4cfd0;
}

.hi-msg a:visited, a:link {
  color: #30424b;
}

.profile-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2%;
}

.profile-pic {
  img {
    max-width: 400px;
    height: auto;
}
}

.profile-deets {
  background-color: #d4cfd0;
  margin-left: 3%;
}


.user-things {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 2%;
}

.user-products {
  background-color:#3b4b65;
  color: #d4cfd0;
  padding: 2%;
}

.wishlist {
  background-color: #3b4b65;
  color: #d4cfd0;
  padding: 2%;
  max-width: 500px;
}


.orders {
  background-color: #3b4b65;
  color: #d4cfd0;
  padding: 2%;
}