<h1>You are part of the Preston Community</h1>





<div class='product-card'>
<% @products.each do |product| %>
<p><%= product.name %></p>
<p><%= product.description %></p>
<p>$<%= product.price %> for <%= product.quantity %></p>
<p>Seller</p>
<% end %>
</div>


