<h1>You are part of the Preston Community</h1>

<div>



<div class='products-group'>

<% @products.each do |product| %>
  <div class='product-card'>
    <p><%= product.name %></p>
    <p><%= product.description %></p>
    <p>$<%= product.price %> for <%= product.quantity %></p>
    <p>Seller</p>
  </div>
  <% end %>
</div>


<div>